.user-details-page {
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

.user-information-box {
  display: flex;
}
.user-information {
  padding: 8px;
  width: 100%;
}
.user-detail-avatar {
  height: 250px;
}

.back-link-button {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;
}
.back-link-button:focus {
  outline: none;
}

