.user-details-page {
  width: 700px;
  margin: auto;
  margin-top: 50px;

  .back-link-button {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;

    button:focus {
      outline: none;
    }
  }

  .user-information-box {
    display: flex;

    .user-detail-avatar {
      height: 250px;
    }

    .user-information {
      padding: 8px;
      width: 100%;

      p {
        margin: 5px;
      }

      h3 {
        margin: 15px 5px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .user-details-page {
    width: 100%;

    .user-information-box {
      flex-direction: column;

      .user-detail-avatar {
        width: 18rem;
        margin: auto;
      }
    }
  }

}
