<div class="list-page" *ngIf="users | async">
  <div class="search">
    <form class="search-form" (submit)="searchUserSubmit()">
      <input
        type="text"
        placeholder="Search..."
        [formControl]="searchQuery"
        [matAutocomplete]="auto"
        autocomplete="off"
        class="search-input"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of searchUser | async" [value]="user">
          <span>{{ user.login }}</span>
        </mat-option>
      </mat-autocomplete>
      <button class="search-button" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  <div routerLink class="last-searches" *ngIf="lastSearches">
    <a
      class="links"
      [routerLink]="[user.login]"
      *ngFor="let user of lastSearches"
    >
      {{ user.login }}
    </a>
  </div>
  <div class="list-header">
    <h2 class="text m-0">GitHub most popular users</h2>
    <div class="toggler">
      <button (click)="listView()" [ngClass]="{ 'active-view': viewToggler }">
        <mat-icon>list</mat-icon>
      </button>
      <button (click)="gridView()" [ngClass]="{ 'active-view': !viewToggler }">
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div
    class="grid-view users-list"
    [ngClass]="{
      'list-view': viewToggler,
      'grid-wiew': !viewToggler
    }"
  >
    <div class="user-card card" *ngFor="let user of users | async">
      <img [src]="user.avatar_url" alt="Book Image" />
      <div class="user-info">
        <div class="user-name">
          <a [routerLink]="[user.login]" class="links user-name">{{
            user.login
          }}</a>
          <div class="mt-10">{{ user.type }}</div>
        </div>
        <div class="user-repos">
          <h3>User Repos</h3>
          <app-user-repos [userName]="user.login"></app-user-repos>
        </div>
      </div>
    </div>
  </div>
</div>
